{#{% extends '@EasyAdmin/layout.html.twig' %}#}

{#{% block content %}#}
{#    <h1>{{ entity.name }}</h1>#}

{#    <h2>Videos:</h2>#}
{#    <ul>#}
{#        {% for video in entity.videos %}#}
{#            <li>{{ video.title }}</li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#{% endblock %}#}
