<header class="air-header">
    <div class="air-header__brand">
        <a class="air-header__brand-link" title="files.davinci.pm" href="#">files.davinci.pm</a>
    </div>

    <div class="air-header__title">
        <a class="air-header__title-link" title="DaVinci" href="#">DaVinci</a>
    </div>

    <div class="air-header__actions">
        <button class="air-header__button">Работа</button>
        <nav class="air-header__nav">
            <a href="?lang=ru" class="air-header__link active">Рус</a>
            <a href="?lang=en" class="air-header__link">Eng</a>
        </nav>
    </div>
</header>